.container
  .row
    .center-panel
      = panel title: "@#{@crush.instagram_user.username}'s Crush" do
        .panel-body
          .crush_pane
            - if @crush.show_image?
              = link_to posts_for_user_path( @crush.crush_user ) do
                = image_tag @crush.image_path
            - else
              .person
                - if current_user
                  = link_to posts_for_user_path( @crush.crush_user ) do
                    = image_tag @crush.crush_user.profile_picture
                - else
                  = image_tag @crush.crush_user.profile_picture
              .heart
                %span.glyphicon.glyphicon-heart
              .person
                =image_tag @crush.instagram_user.profile_picture

          .stats
            %code
              = link_to "@#{@crush.crush_user.username}", posts_for_user_path( @crush.crush_user )
            has hearted
            %b= @crush.liked_count
            and commented on
            %b= @crush.comment_count
            of 
            %code
              ="@#{@crush.instagram_user.username}'s"
            photos!


        .share
          - if current_user
            = link_to "Share on Facebook", "https://www.facebook.com/sharer.php?u=http%3A%2F%2Fboo.happyfuncorp.com%2Fcrush%2F#{@crush.slug}", class: "btn btn-default facebook", target: "_blank"
          - else
            = link_to "Find your crush!", user_omniauth_authorize_path( :instagram ), class: "btn btn-default instagram"