= form_for @instagram_comment, layout: :horizontal do |f|
  = f.number_field :instagram_post_id, :class => 'form-control'
  = f.number_field :instagram_user_id, :class => 'form-control'
  = f.text_field :comment, :class => 'form-control'
  = f.submit :class => 'btn btn-primary'
