.container
  .page-header
    = link_to instagram_comments_path, :class => 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      Back
    = link_to edit_instagram_comment_path(@instagram_comment), :class => 'btn btn-primary' do
      %span.glyphicon.glyphicon-pencil
      Edit
    %h1 Show instagram_comment

  %dl.dl-horizontal
    %dt Instagram post:
    %dd= @instagram_comment.instagram_post_id
    %dt Instagram user:
    %dd= @instagram_comment.instagram_user_id
    %dt Comment:
    %dd= @instagram_comment.comment

