= navbar position: :static do
  = vertical do
    = link_to root_path do
      %span.glyphicon.glyphicon-heart
      Boo!
      %code Secret
  = horizontal do
    = nav class: 'navbar-right' do
      = link_to 'Crush', crushes_path
      = link_to 'Tops', instagram_posts_stats_path
      - unless current_user
        = link_to "Link with instagram", user_omniauth_authorize_path( :instagram )
      - else
        = render partial: "application/account_dropdown"
