!!! 5
%html.no-js.sticky
  %head
    %meta{ :charset => 'utf-8' }/
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }/

    = display_meta_tags :site => "Who'se your boo", :title => page_title, :reverse => true

    %meta{ :name => 'description', :content => '' }/
    %meta{ :name => 'viewport', :content => 'width=device-width' }/

    = stylesheet_link_tag 'boo_application', :media => nil

    -# Append your own using content_for :stylesheets
    = yield :stylesheets

    = javascript_include_tag 'modernizr'

    = csrf_meta_tag

  %body{ :class => "#{ controller.controller_name }" }
    = render 'chromeframe'
    .lighter
      = render 'flashes'

      .layout.level_1
        .ted= image_tag 'art_ted_moon2x.png'
      .grass.level_2
      .layout.level_3
        .foreground= image_tag 'art_foreground2x.png'
    
    .content.level_4
      .simple_nav
        .container
          - if current_user
            = link_to 'Sign Out', destroy_user_session_path, :method=>:delete, class: "btn btn-warning btn-sm"


      = yield

      #footer.container.mailing.footer
        .row
          .col-sm-6.col-sm-offset-3
            %h2 Trick Or Treat!
            %p
              We hope you enjoy this sneak peak of a new product we are developing. This is just the beginning. So, go on. Sign up below if you dare and we will let you know as soon as it is ready.

            = form_tag splash_signup_path, role: :form, :class=>'form-inline', :remote=>true do
              .form-group
                .input-group#signup
                  = text_field_tag :signup_email, '',  :class=>'form-control', :placeholder=>'Enter email'
                  %span.input-group-btn
                    = submit_tag 'Sign up', :class=>'btn btn-primary'
            %p#signup-message


      .container.footer
        .small_header
          Brought to you by
        .hfc_logo
          = link_to "http://happyfuncorp.com/" do
            = image_tag "logo_hfc2x.png"

    .blackbottom

    -# Javascript at the bottom for fast page loading
    = render 'javascripts'
